<div id="contact" class="contact">
  <div>Want to work with us?</div>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis repellendus eum, recusandae eos quasi voluptas doloremque sit at corporis ullam tenetur quibusdam qui quod fugit explicabo odio reiciendis sunt minus?
  </div>
  <div class="contactButton">CONTACT US</div>
</div>
