<div id="hero" class="hero">
  <img class="heroBackground" src="assets\images\hero.png" alt="Hero background">
  <div class="heroDescription">
    <div class="heroDescriptionTitle">Lorem ipsum dolor, sit amet</div>
    <div class="heroDescriptionText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam, assumenda blanditiis facere eaque natus laborum et nisi veritatis ad quam voluptates magni veniam eveniet quisquam obcaecati, quaerat voluptatum quis.</div>
  </div>
</div>