<div id="nutrition" class="nutrition">
  {{!-- Title --}}
  <div class="nutritionTitle">
    <div>Nutrition</div>
    <div>3 keys to success</div>
  </div>

  {{!-- Button menu for mobile --}}
  <div class="nutritionMobileMenu">
    <div class="active">1</div>
    <div>2</div>
    <div>3</div>
  </div>  

  {{!-- Recipies --}}
  <div class="nutritionRecipies">
    {{!-- 1 --}}
    <div class="recipeNutrition activeNutrition">
      <img class="image" src="assets\images\Nutrition-Recipe1.png" alt="Recipe 1">
      <div>1</div>
      <div>BE MODERATE</div>
      <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat soluta dignissimos unde deserunt quaerat veritatis, temporibus nemo pariatur, id porro </div>
    </div>
    {{!-- 2 --}}
    <div class="recipeNutrition">
      <img class="image" src="assets\images\Nutrition-Recipe2.png" alt="Recipe 2">
      <div>2</div>
      <div>BE CREATIVE</div>
      <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat soluta dignissimos unde deserunt quaerat veritatis, temporibus nemo pariatur, id porro </div>
    </div>
    {{!-- 3 --}}
    <div class="recipeNutrition">
      <img class="image" src="assets\images\Nutrition-Recipe3.png" alt="Recipe 3">
      <div>3</div>
      <div>MIX THEM UP</div>
      <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat soluta dignissimos unde deserunt quaerat veritatis, temporibus nemo pariatur, id porro </div>
    </div>
  </div>

  {{!-- Button --}}
  <div class="nutritionButton">LEARN MORE</div>

</div>