<div id="testimonials" class="testimonials">
    <div class="testimonialTitle">
        <div>What people say about us</div>
        <div>Our cliants love us!</div>
    </div>

    <div class="testimonialsContainer">
        <div class="testimonialsPanel">
            <div class="testimonialPortret"></div>
            <div class="testimonialPanelText">
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit iusto velit, error sequi cum dolorem debitis rem dolorum facere ipsa distinctio obcaecati et iure neque aperiam harum quo consequuntur. Placeat.</div>
                <div>Full Name</div>
                <div>Function</div>
            </div>
        </div>
        <div class="testimonialsPanel">
            <div class="testimonialPortret"></div>
            <div class="testimonialPanelText">
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit iusto velit, error sequi cum dolorem debitis rem dolorum facere ipsa distinctio obcaecati et iure neque aperiam harum quo consequuntur. Placeat.</div>
                <div>Full Name</div>
                <div>Function</div>
            </div>
        </div>
        <div class="testimonialsPanel">
            <div class="testimonialPortret"></div>
            <div class="testimonialPanelText">
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit iusto velit, error sequi cum dolorem debitis rem dolorum facere ipsa distinctio obcaecati et iure neque aperiam harum quo consequuntur. Placeat.</div>
                <div>Full Name</div>
                <div>Function</div>
            </div>
        </div>
        <div class="testimonialsPanel">
            <div class="testimonialPortret"></div>
            <div class="testimonialPanelText">
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit iusto velit, error sequi cum dolorem debitis rem dolorum facere ipsa distinctio obcaecati et iure neque aperiam harum quo consequuntur. Placeat.</div>
                <div>Full Name</div>
                <div>Function</div>
            </div>
        </div>
    </div>
</div>