<div class="twoColumnPanel">
  {{!-- Panel 1 --}}
  <div class="panel">
    <img src="assets\images\TwoColumnPanel_Image1.png">
    <div class="arrow"></div>
    <div class="panelDescriptionText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores quam dolorem animi modi iusto! Sed nisi atque voluptatum possimus, doloremque nemo praesentium natus corrupti, eum in corporis, sit optio?</div>
  </div>
  {{!-- Panel 2 --}}
  <div class="panel">
    <div class="sectionTitleText">Lorem ipsum dolor sit amet </div>
  </div>
  {{!-- Panel 3 --}}
  <div class="panel">
    <img src="assets\images\TwoColumnPanel_Image2.png">
    <div class="arrow"></div>
    <div class="panelDescriptionText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores quam dolorem animi modi iusto! Sed nisi atque voluptatum possimus, doloremque nemo praesentium natus corrupti, eum in corporis, sit optio?</div>
  </div>
  {{!-- Panel 4 --}}
  <div class="panel">
    <img src="assets\images\TwoColumnPanel_Image3.png">
    <div class="arrow"></div>
    <div class="panelDescriptionText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores quam dolorem animi modi iusto! Sed nisi atque voluptatum possimus, doloremque nemo praesentium natus corrupti, eum in corporis, sit optio?</div>
  </div>  

</div>