<header id="header">
    <div class="headerContainer">
        {{!-- <img class="logo" src="\assets\images\logo.png" alt="Logo Codezilla"> --}}
        <div class="logo">Logo placeholder</div>

        <div class="menuContainer">
            <ul>
                <li><a href=#two-column-panel>How it's made</a></li>
                <li><a href=#creative>Creative</a></li>
                <li><a href=#nutrition>Nutrition</a></li>
                <li><a href=#testimonials>Testimonials</a></li>
            </ul>
        </div>
    </div>
</header>

<nav class="navbar">
    <div class="container">
        {{!-- <img class="logo" src="assets\images\logo.png" alt="Logo Codezilla"> --}}
        <div class="logo">Logo placeholder</div>
        <div class="hamburger" data-toggle="collapse" data-target="#menuHeader">
            <div class="hamburgerPatty"></div>
            <div class="hamburgerPatty"></div>
            <div class="hamburgerPatty"></div>
        </div>
    </div>

    <div id="menuHeader" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href=#two-column-panel>How it's made</a></li>
            <li class="nav-item"><a href=#creative>Creative</a></li>
            <li class="nav-item"><a href=#nutrition>Nutrition</a></li>
            <li class="nav-item"><a href=#testimonials>Testimonials</a></li>
        </ul>
    </div>
</nav>
